# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Specific Folder
data/
logs/
.trae/

# Telethon
*.session
*.session-journal

# Project
tg_downloader_*.zip
version.txt

# OS
.DS_Store
Thumbs.db
